body {
  margin: 0;
  padding: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app { 
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;  
}
.header {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
.main {  
  width: 100%;
  display: flex;
  justify-content: center;  
}
.inventory,
.order {  
  padding: 10px;  
}
.inventory h2,
.order h2 {
  margin: 15px 0 25px;
  text-align: center;
}
.adminPanel {  
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;  
}
#inStock {
  margin-left: 0px;
}
.form-check-label {
  margin-left: 20px;
}
.bookView,
.orderView {
  align-items: center;
  margin: 15px 0;
}
.logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: absolute;
  transform: translateY(-50%);
  top: 40%;
}
.logInForm input {
  margin: 10px 0;
  min-width: 300px;
}
.logInForm button {
  margin-top: 10px;
  min-width: 100px;
}
.logOut {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.label {
  font-weight: 500;
}
.footer {  
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  position: static;
  bottom: 0;
  background-image: url('./footerBackgroud.jpg');   
  background-size: contain;  
  color: white;
}
.layer {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layer p {
  padding: 0;
  margin: 0;
  opacity: 1 !important;
}
.goToAdmin {
  font-weight: bold;
}
.bookImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.md-form{
  margin-bottom: 20px;
}
.chooseImg {
  max-width: 150px;
  max-height: 30px;  
  position: relative;
  cursor: pointer;
}
.chooseImg span {
  cursor: pointer;  
}
.file-field input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 5;   
}
input[type="file" i] {
  -webkit-appearance: initial;
    background-color: initial;
    cursor: pointer;
    align-items: baseline;
    color: inherit;
    text-align: start;
    padding: initial;
    border: initial;
}
.file-path {
  padding-left: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}


@media (min-height: 792px) {
  .main {
    min-height: 688px;
  }
}
@media (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .btnAddToOrder {
    display: flex;
    justify-content: center;
  }
  .bookView {
    margin: 20px 0;    
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 20px;
  }
}